@font-face {
    font-family: SF-UI-Thin;
    src: url('../fonts/SF-UI-Display-Thin.ttf') format('truetype');
}

@font-face {
    font-family: SF-UI-Light;
    src: url('../fonts/SF-UI-Display-Light.ttf') format('truetype');
}

@font-face {
  font-family: SF-UI-Regular;
  src: url('../fonts/SF-UI-Display-Regular.ttf') format('truetype');
}

.navbar-brand {
    position: relative;
    z-index: 2;
    font-family: 'SF-UI-Light';
    font-size: 20px;
    color: #ffffff;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

.navbar .navbar-collapse {
    position: relative;
    overflow: hidden !important;
}

.navbar .navbar-collapse .navbar-right>li:last-child {
    padding-left: 22px;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
    border-radius: 0px;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
    border-radius: 0px;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
    border-radius: 0px;
}

.nav-collapse>li {
    float: right;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
}

.navbar-nav.navbar-right .btn:not(.collapsed) {
    /*background-color: rgb(111, 84, 153);*/
    background-color: rgb(51, 51, 51);
    /*border-color: rgb(111, 84, 153);*/
    border-color: rgb(183, 183, 183);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse, .navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px, -50px);
}

.navbar.navbar-default .nav-collapse.in, .navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px);
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right>li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
    .navbar.navbar-default .nav-collapse, .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%, 0px);
    }
    .navbar.navbar-default .nav-collapse.in, .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px, 0px);
    }
    .navbar.navbar-default .nav-collapse.slide-down, .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px, -100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down, .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px, 0px);
    }
}

.navbar-inverse {
    border-radius: 0px;
    font-family: 'SF-UI-Thin', Arial;
    font-size: 17px;
}

body {
    background-color: #f2f2f2;
}


/*========= Footer =========*/

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer a, .footer span {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}

.footer i {
    color: #fff;
    margin-left: 5px;
    font-size: 18px;
}

.fit {
    /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
}

.center {
    display: block;
    margin: auto;
}

.old-price {
  font-family: SF-UI-Thin;
  text-decoration: line-through;
  font-size: 18px;
}

.price {
  font-family: SF-UI-Regular;
  font-size: 20px;
}

.phone-name {
  font-family: SF-UI-Regular;
  font-size: 20px;
  padding-top: 20px;
}

a:hover{
  text-decoration: none;
}

#specs {
    border-collapse: collapse;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#specs th, #specs td {
    text-align: left;
    padding: 8px;
    color: #b1b1b1;
}

tr:nth-child(even){background-color: #000000}
